- name: Build and push (amd64)
  uses: docker/build-push-action@v6
  with:
    context: .
    push: true
    build-args: |
      TLDR_VERSION=${{ steps.upstream.outputs.version }}
    tags: |
      ghcr.io/${{ github.repository_owner }}/youtubetldr:${{ steps.upstream.outputs.version }}
      ghcr.io/${{ github.repository_owner }}/youtubetldr:release
